﻿@page "/"
@using GOL=GameOfLife.Shared.GameOfLife;
<div class="container justify-content-center align-middle p-2">
    <button @onclick="Set1234">1234</button>
    <button @onclick="SetPento">Pentomino</button>
    <button @onclick="SetLoop">Loop</button>
    <button @onclick="SetRandom">Random</button>
    <button @onclick="()=>{timer.Dispose();speed=speed*2; SetTimer(speed);}">Slower</button>
    <button @onclick="()=>{timer.Dispose();speed=speed/2; SetTimer(speed);}">Faster</button>
    <p>Refresh (ms): @speed</p>
    <div class="game-of-life-container">
        <div class="game-of-life-grid">

            @for (int x = 0; x < gameOfLife.Width; x++)
            {
                <div class="">
                    @for (int y = 0; y < gameOfLife.Height; y++)
                    {
                        var cellValue = gameOfLife.GetCell(x, y);
                        <div class="cell @(cellValue == 1 ? "alive" : "")"></div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@code {
    GOL gameOfLife = new();
    System.Threading.Timer timer;
    int speed = 250;
    @implements IDisposable
    protected override async Task OnInitializedAsync()
    {
        SetTimer(speed);
        await base.OnInitializedAsync();
    }
    private void UpdateGameOfLife()
    {
        gameOfLife.Update();
        StateHasChanged();
    }
    private void SetTimer(int spd)
    {
        timer = new System.Threading.Timer(async _ =>
        {
            UpdateGameOfLife();
            await InvokeAsync(StateHasChanged);
        }, null, 0, spd);
    }
    public void SetLoop()
    {
        gameOfLife.Reset();
        gameOfLife.Set(20, 25, ".11..");
        gameOfLife.Set(20, 26, "1..1.");
        gameOfLife.Set(20, 27, ".1.1.");
        gameOfLife.Set(20, 28, "11.11");
    }
    public void SetRandom()
    {
        Random rnd = new Random();
        gameOfLife.Reset();
        for (int i = 0; i < gameOfLife.State.Count; i++)
        {
            gameOfLife.State[i] = rnd.Next(0, 2) == 0 ? 1 : 0;
        }
    }
    public void SetPento()
    {
        gameOfLife.Reset();
        gameOfLife.Set(28, 31, ".11");
        gameOfLife.Set(28, 32, "11.");
        gameOfLife.Set(28, 33, ".1.");
    }
    public void Set1234()
    {
        gameOfLife.Reset();
        gameOfLife.Set(28, 35, ".....1.....");
        gameOfLife.Set(28, 36, "....1.1....");
        gameOfLife.Set(28, 37, "...1.1.1...");
        gameOfLife.Set(28, 38, "...1...1...");
        gameOfLife.Set(28, 39, "11.1.1.1.11");
        gameOfLife.Set(28, 40, "1.1.....1.1");
        gameOfLife.Set(28, 41, "...11111...");
        gameOfLife.Set(28, 42, ".....1.....");
        gameOfLife.Set(28, 43, "....1.1....");
        gameOfLife.Set(28, 44, ".....1.....");
    }
    public void Dispose()
    {
        timer?.Dispose();
    }
}
